@font-face {
    font-family: "Esphimere Bold";
    src: url('../fonts/Esphimere Bold.otf') format("truetype");
}

html {
    font-size: 8px;
    height: 100%;
    width: 100%;
}

* {
    font-family: "Esphimere Bold";
    text-decoration: none;
}

body {
    background: #f7f7f7;
    width: 100%;
    height: 100%;
}

img {
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: auto;
    margin: 0;
}

main {
    width: 95vw;
    align-self: center;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    position: relative;
    padding-top: 25px;
}

header {
    background: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80px;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, .2);
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 25px;
}

main {
    height: calc(100vh - 105px);
}

#input-holder {
    align-self: center;
    display: flex;
    flex-direction: row;
}

h1 {
    margin: 0;
    margin-bottom: 10px;
    font-size: 2rem;
    width: 100%;
}

.button, button, select {
    margin: 0 5px;
    padding: 5px 10px;
    font-size: 1.5rem;
    border-radius: 10px !important;
    text-align: center;
    outline: none;
    background: white;
    border: 1px grey solid;
    color: black !important;
    cursor: pointer;
    line-height: 1.15;
    min-height: 30px;
    box-sizing: border-box;
    vertical-align: middle;
    min-width: 70px;
}

.button {
    align-self: center;
}

h2 {
    text-align: center;
    font-size: 1.3rem;
    margin: 0;
    padding: 5px 0;
}

#rotate, #save {
    display: none;
}

#advanced {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    /* width: 100%; */
    height: auto;
}

@media screen and (min-width: 375px) {
    html {
        font-size: 10px;
    }
}

@media screen and (min-width: 720px) {
    html {
        font-size: 16px;
    }
    header {
        height: 140px;
    }
    footer {
        height: 25px;
    }
    main {
        height: calc(100vh - 160px);
    }
    h2 {
        text-align: center;
        font-size: 0.9rem;
        margin: 5px 0;
    }
}

a#advanced-toggle {
    margin-top: 5px;
    font-size: 0.9rem;
}